<li>
	{{name}}

	<button class="eat-it" data-id="{{id}}" data-eaten="{{consumed}}">
		{{#if consumed}}And thus another was Eaten{{else}}Want a Salad?{{/if}}
	</button>

	<button class="delete-beef" data-id="{{this.id}}">DELETE!</button>
</li>